body {background-color: pink; width: 600px; margin: auto;}

h1 { text-align: center; border: 3px solid plum; 
    margin: 15px;padding: 2px;}

h2 {text-align: center; border: 3px solid plum; 
    margin: 15px;padding: 2px;}

p {text-align: center ; border: 3px solid rgb(255, 0, 179); 
    margin: 15px;padding: 2px ;}

label {font-size: larger;}

div {text-align: center; border: 3px dashed red; 
    margin: 15px;padding: 2px;}